@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Merriweather:ital,wght@1,900&display=swap");

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding: 5rem 0;
}

/* // LEFT SIDE */

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 5rem;
}

.leftSide h2 {
  font-family: "Merriweather", serif;
}

.leftSide h2 span {
  display: block;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.leftSide .bottomText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
}

.leftSide .bottomText button {
  padding: 5px 20px;
  background-color: #fc6c85;
  border: none;
  color: #333;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.leftSide .bottomText p {
  font-size: 1.3rem;
  padding: 5px 40px;
  background-color: #e680ff;
  transform: rotate(-10deg);
  font-family: "Caveat", cursive;
}

.rightSide {
  /* background: blue; */
  display: flex;
  justify-content: center;
}

.image {
  width: 500px;
  height: 500px;
  position: relative;
  transform: rotate(10deg);
}

.images {
  display: flex;
  flex-direction: column;
}

.singleImage {
  width: 195px;
  height: 200px;
  position: relative;
  left: 153px;
  top: 50px;
}

@media only screen and (max-width: 1250px) {
  .leftSide h2 span {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1150px) {
  .leftSide .bottomText {
    padding-right: 0;
  }
  .image {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 900px) {
  .image {
    width: 300px;
    height: 300px;
  }
  .leftSide h2 span {
    font-size: 2rem;
  }
  .leftSide h2 {
    font-size: 1.3rem;
  }

  .leftSide .bottomText button {
    padding: 5px 10px;
    font-size: 1.2rem;
  }

  .leftSide .bottomText p {
    font-size: 1.1rem;
    padding: 5px 20px;
  }
}

@media only screen and (max-width: 650px) {
  .leftSide {
    margin-top: 5rem;
  }
  .container {
    grid-template-columns: 1fr;
    justify-items: start;
    padding: 0;
  }
  .image {
    width: 500px;
    height: 500px;
  }
  .leftSide h2 span {
    font-size: 4rem;
  }
  .leftSide h2 {
    font-size: 2rem;
  }

  .leftSide .bottomText button {
    padding: 5px 20px;
    font-size: 1.5rem;
  }

  .leftSide .bottomText p {
    font-size: 1.3rem;
    padding: 5px 40px;
    margin-right: 5rem;
    transform: translateY(5rem) rotate(-10deg);
  }
}

@media only screen and (max-width: 500px) {
  .leftSide .bottomText p {
    margin-right: 3rem;
    transform: rotate(-10deg);
  }

  .leftSide .bottomText {
    flex-direction: column;
    align-items: flex-start;
  }
}
