.container {
  /* display: grid;
  place-items: center; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  position: relative;
  width: 200px;
  height: 120px;
}

.heading {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* opacity: 0; */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2s steps(20, end);
  /* animation-delay: 2s; */
  margin-top: 20px;
}

@keyframes typing {
  from {
    width: 0;
    /* opacity: 1; */
    transform: translateX(50px);
  }
  to {
    width: 100%;
    /* opacity: 1; */
    transform: translateX(0);
  }
}
